<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AsistenciaQR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">AsistenciaQR</ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-card>
<div class="ion-text-center">
  <ion-title>Ingreso de Usuario</ion-title>
  <ion-card-content>
    
   
  </ion-card-content>


<ion-item>
  <ion-input
    label="User"
    labelPlacement="stacked"
    [clearOnEdit]="true"
    placeholder="Ingresa Nombre de Usuario"
    [(ngModel)]="user"
  >
  </ion-input>
</ion-item>

<ion-item>
  <ion-input
    label="Password"
    labelPlacement="stacked"
    type="password"
    placeholder="Ingresa Contraseña"
    [(ngModel)]="password"
  >
  </ion-input>
</ion-item>


<ion-button (click)="logIn()">INGRESAR</ion-button>
<button mat-button (click)="navigateToRecovery()" fill="clear">RESTABLECER LA CONTRASEÑA</button>
</div>
<ion-alert
  [isOpen]="isAlertOpen"
  header="Atención"
  [message]="msgError"
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false)"
></ion-alert>

</ion-card>
</ion-content>