<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AsistenciaQR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">AsistenciaQR</ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-card>
<div class="ion-text-center">
  <ion-title>Recupera tu contraseña</ion-title>
<ion-item>
  <ion-input
    label="User"
    labelPlacement="stacked"
    [clearOnEdit]="true"
    placeholder="Ingresa Nombre de Usuario"
    [(ngModel)]="user">
  </ion-input>
</ion-item>

<ion-button (click)="recovery()">RECUPERAR</ion-button>
</div>
<ion-alert
  [isOpen]="isAlertOpen"
  header="Atención"
  [message]="msgError"
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false)"
></ion-alert>

</ion-card>
</ion-content>