<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AsistenciaQR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">AsistenciaQR</ion-title>
    </ion-toolbar>
  </ion-header>


  
    <ion-card (click)="play()" #card>
      <ion-card-content>
        <ion-item>
          <ion-label>
            Bienvenido {{ user }}
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <div id="container">
    <ion-label>
      {{ users.length }} Usuarios han marcado sus asistencia el día de hoy
    </ion-label>
    <br/>
    <ion-label *ngFor="let u of users">
      {{ u.username }}
      <br/>
    </ion-label>
    </div>
</ion-content>
